Repository intel/pailliercryptolib: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck

clang-format-10:
  name: clang-format-10
  entry: clang-format-10
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive
  - --filter=-runtime/references,-whitespace/comments,-whitespace/indent

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

Update device setup script.
  README.md
  setup_devices.sh
Due: shfmt, shellcheck

Add auxiliary scripts.
  auto_find_qat_install.sh
  reset_asym_buffer_size.sh
Due: shfmt, shellcheck

Remove old source code.
  CMakeLists.txt
  he_qat/CMakeLists.txt
  he_qat/he_qat_bn_ops.c
Due: clang-format-10, cpplint

Move scripts to scripts folder.
  scripts/auto_find_qat_install.sh
  scripts/reset_asym_buffer_size.sh
  scripts/restart_devices.sh
  scripts/run.sh
  scripts/setup_devices.sh
Due: shfmt, shellcheck

Test samples clean-up.
  samples/test_bnConversion.cpp
  samples/test_bnModExp.cpp
Due: clang-format-10, cpplint

Add copyright header.
  scripts/setup_devices.sh
Due: shfmt, shellcheck

Remove scripts from parent folder.
  auto_find_qat_install.sh
  reset_asym_buffer_size.sh
  run.sh
  setup_devices.sh
Due: shfmt, shellcheck

Environment vars.
  setup_env.sh
Due: shfmt, shellcheck

Fix on Debug mode.
  he_qat/he_qat_ctrl.c
Due: clang-format-10, cpplint

Update README.md
  README.md
Due: none

* Add cpu_features to determine AVX512IFMA runtime - Added CMake dependency - Refactoring 3rd party configuring and building w/ CMake
  CMakeLists.txt
  cmake/cpufeatures.cmake
  cmake/gbenchmark.cmake
  cmake/gtest.cmake
  ipcl/CMakeLists.txt
Due: none

HE QAT lib repo migration.
  CMakeLists.txt
  module/heqat.cmake
  module/heqat/README.md
Due: none

Remove heqat from external dependency.
  cmake/heqat/heqat.cmake
  cmake/heqat/icp/CMakeLists.txt
Due: none

Add heqat as a git submodule.
  .gitmodules
Due: none

Update download instructions.
  README.md
Due: none

Update downloading instructions.
  README.md
Due: none

Update documentation.
  README.md
  he_qat/include/he_qat_bn_ops.h
Due: clang-format-10, cpplint

Fix to include cpu_features header when specified
  ipcl/include/ipcl/util.hpp
Due: clang-format-10, cpplint

Fixed shared library build - Refactor cmake configurations - Added example code
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/cpufeatures.cmake
  cmake/gbenchmark.cmake
  cmake/gtest.cmake
  cmake/ipcl/IPCLConfig.cmake.in
  cmake/ippcrypto.cmake
  example/CMakeLists.txt
  example/test.cpp
  example/test.h
  ipcl/CMakeLists.txt
Due: clang-format-10, cpplint

Typo fix - Minor typo fixes in third-party dependencies - Removed example/test.h
  cmake/cpufeatures.cmake
  cmake/ippcrypto.cmake
  example/test.h
Due: clang-format-10, cpplint

temp
  CMakeLists.txt
Due: none

Set pre-commit to use clang-format
  .pre-commit-config.yaml
Due: none

Added build and usage documentation - Fixed minor typos and updated flag names to be more consistent - Cleaned up example CMake file
  example/CMakeLists.txt
  example/README.md
  example/test.cpp
Due: clang-format-10, cpplint

Added examples documentation - Build and install instruction - Linking and compiling instruction - Usage examples
  README.md
  example/README.md
Due: none

Updated README to include AVX512IFMA runtime detection option
  README.md
Due: none

Improve installation and support runtime IFMA detection (#23)
  .pre-commit-config.yaml
  CMakeLists.txt
  README.md
  cmake/cpufeatures.cmake
  cmake/gbenchmark.cmake
  cmake/gtest.cmake
  cmake/ipcl/IPCLConfig.cmake.in
  cmake/ippcrypto.cmake
  example/CMakeLists.txt
  example/README.md
  example/test.cpp
  ipcl/CMakeLists.txt
  ipcl/include/ipcl/util.hpp
  ipcl/mod_exp.cpp
Due: clang-format-10, cpplint

Fixed typo in root README
  README.md
Due: none

Fixed typo in root README (#24)
  README.md
Due: none

Apply IPCL v1.1.4 to internal development branch (#131)
  .github/workflows/github-ci.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  CODE_OF_CONDUCT.md
  README.md
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  cmake/cpufeatures.cmake
  cmake/gbenchmark.cmake
  cmake/gtest.cmake
  cmake/ipcl/IPCLConfig.cmake.in
  cmake/ippcrypto.cmake
  example/CMakeLists.txt
  example/README.md
  example/test.cpp
  ipcl/CMakeLists.txt
  ipcl/include/ipcl/ipcl.hpp
  ipcl/include/ipcl/util.hpp
  ipcl/keygen.cpp
  ipcl/mod_exp.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

Remove dangling header.
  include/cpa_sample_utils.h
Due: clang-format-10, cpplint

Adjust optimization params.
  he_qat/he_qat_ctrl.c
Due: clang-format-10, cpplint

Fix compilation error for HE_QAT_PERF=ON.
  he_qat/he_qat_ops.c
Due: clang-format-10, cpplint

Add context interface to configure device runtime.
  benchmark/main.cpp
  ipcl/CMakeLists.txt
  ipcl/context.cpp
  ipcl/include/ipcl/context.hpp
  test/main.cpp
Due: clang-format-10, cpplint

Update heqat.cmake
  module/heqat.cmake
Due: none

Remove commented line
  he_qat/CMakeLists.txt
Due: none

Path conditions:
  clang-format-10: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: docs/doxygen/
  shfmt: any of: \.sh$, but not: docs/doxygen/
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$ and not (ipcl/bignum.cpp|ipcl/include/ipcl/bignum.h) and not (docs/doxygen/)
  shellcheck: any of: \.sh$, but not: docs/doxygen/
