Repository intel/pailliercryptolib: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck

.pre-commit-config.yaml:

exclude: 'docs/doxygen/'
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: typos-v0.8.2
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format-10
          name: clang-format-10
          entry: clang-format-10
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          exclude: ipcl/bignum.cpp|ipcl/include/ipcl/bignum.h
          args:
            - --recursive
            - --filter=-runtime/references,-whitespace/comments,-whitespace/indent
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091

Update conversion functions and test case.
  test_bnConversion.cpp
Due: clang-format-10, cpplint

Simplify conversion functions.
  test_bnConversion.cpp
Due: clang-format-10, cpplint

Add BigNumber conversion functions to he_qat_utils.*.
  he_qat_utils.c
  he_qat_utils.h
Due: clang-format-10, cpplint

Format: clang-format source code.
  he_qat_bn_ops.c
  he_qat_bn_ops.h
  he_qat_context.h
  he_qat_types.h
  he_qat_utils.c
  he_qat_utils.h
Due: clang-format-10, cpplint

Replace vector fixed size 8 with IPCL_CRYPTO_MB_SIZE (#45)
  ipcl/include/ipcl/paillier_ops.hpp
  ipcl/include/ipcl/paillier_pubkey.hpp
  ipcl/mod_exp.cpp
  ipcl/paillier_ops.cpp
  ipcl/paillier_prikey.cpp
  ipcl/paillier_pubkey.cpp
Due: clang-format-10, cpplint

change lvalue to rvalue (#46)
  ipcl/mod_exp.cpp
  ipcl/paillier_keygen.cpp
  ipcl/paillier_ops.cpp
  ipcl/paillier_prikey.cpp
  ipcl/paillier_pubkey.cpp
Due: clang-format-10, cpplint

Remove test case.
  CMakeLists.txt
Due: none

Remove compilation warnings for C++ compiler.
  include/cpa_sample_cnv_utils.h
  include/cpa_sample_utils.h
  test_bnConversion.cpp
Due: clang-format-10, cpplint

Clang-format source code.
  test_bnConversion.cpp
  test_bnModExpPerformOp.c
Due: clang-format-10, cpplint

Remove utils.
  utils/CMakeLists.txt
  utils/bignum.cpp
  utils/bignum.h
  utils/utils.cpp
  utils/utils.h
Due: clang-format-10, cpplint

Add misc to replace utils.
  he_qat_misc.cpp
  he_qat_misc.h
  misc/CMakeLists.txt
  misc/bignum.cpp
  misc/bignum.h
  misc/utils.cpp
  misc/utils.h
Due: clang-format-10, cpplint

Update test case to reflect new changes with misc.
  test_bnConversion.cpp
Due: clang-format-10, cpplint

Update the cmake build system to include misc.
  CMakeLists.txt
Due: none

Remove utils source code.
  he_qat_utils.c
  he_qat_utils.h
Due: clang-format-10, cpplint

Format source code with clang-format.
  he_qat_misc.cpp
  he_qat_misc.h
  test_bnConversion.cpp
Due: clang-format-10, cpplint

Remove legacy code.
  ln_mod_exp/CMakeLists.txt
  ln_mod_exp/cpa_mod_exp_sample.c
  ln_mod_exp/cpa_mod_exp_sample_user.c
  ln_mod_exp/qat_modexp_validation.c
Due: clang-format-10, cpplint

Reorganize source code directory structure.
  examples/test_bnConversion.cpp
  examples/test_bnModExpPerformOp.c
  examples/test_context.c
  he_qat/he_qat_bn_ops.c
  he_qat/he_qat_context.c
  he_qat/include/he_qat_bn_ops.h
  he_qat/include/he_qat_context.h
  he_qat/include/he_qat_types.h
  misc/bignum.cpp
  misc/bignum.h
  misc/he_qat_misc.cpp
  misc/he_qat_misc.h
  misc/utils.cpp
  misc/utils.h
Due: clang-format-10, cpplint

Refactor CMake build system.
  CMakeLists.txt
  examples/CMakeLists.txt
  he_qat/CMakeLists.txt
  misc/CMakeLists.txt
Due: none

Update README.md.
  README.md
Due: none

Refactor review (#52)
  README.md
  ipcl/bignum.cpp
  ipcl/include/ipcl/bignum.h
  ipcl/include/ipcl/common.hpp
  ipcl/include/ipcl/mod_exp.hpp
  ipcl/include/ipcl/paillier_ops.hpp
  ipcl/include/ipcl/paillier_pubkey.hpp
  ipcl/include/ipcl/util.hpp
  ipcl/mod_exp.cpp
  ipcl/paillier_keygen.cpp
  ipcl/paillier_ops.cpp
  ipcl/paillier_prikey.cpp
  ipcl/paillier_pubkey.cpp
Due: clang-format-10, cpplint

Add HE QAT Utils.
  he_qat/he_qat_utils.c
  he_qat/include/he_qat_utils.h
  misc/he_qat_misc.h
Due: clang-format-10, cpplint

Update refactor CMake build system.
  CMakeLists.txt
  common/CMakeLists.txt
  examples/CMakeLists.txt
  he_qat/CMakeLists.txt
  icp/CMakeLists.txt
  misc/CMakeLists.txt
Due: none

Update bnConversion.
  examples/test_bnConversion.cpp
Due: clang-format-10, cpplint

Update build instructions in README.md.
  README.md
Due: none

Rename file names and class names(remove paillier_ prefix) (#54)
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  ipcl/CMakeLists.txt
  ipcl/include/ipcl/keygen.hpp
  ipcl/include/ipcl/ops.hpp
  ipcl/include/ipcl/pri_key.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/keygen.cpp
  ipcl/ops.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

Refactoring applied (#55)
  README.md
  benchmark/bench_ops.cpp
  ipcl/bignum.cpp
  ipcl/include/ipcl/bignum.h
  ipcl/include/ipcl/common.hpp
  ipcl/include/ipcl/mod_exp.hpp
  ipcl/include/ipcl/ops.hpp
  ipcl/include/ipcl/pri_key.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/include/ipcl/util.hpp
  ipcl/keygen.cpp
  ipcl/mod_exp.cpp
  ipcl/ops.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

v1.0 update
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  ipcl/CMakeLists.txt
  ipcl/include/ipcl/keygen.hpp
  ipcl/include/ipcl/ops.hpp
  ipcl/include/ipcl/pri_key.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/include/ipcl/util.hpp
  ipcl/keygen.cpp
  ipcl/mod_exp.cpp
  ipcl/ops.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

Removed old files
  ipcl/include/ipcl/paillier_keygen.hpp
  ipcl/include/ipcl/paillier_ops.hpp
  ipcl/include/ipcl/paillier_prikey.hpp
  ipcl/include/ipcl/paillier_pubkey.hpp
  ipcl/paillier_keygen.cpp
  ipcl/paillier_ops.cpp
  ipcl/paillier_prikey.cpp
  ipcl/paillier_pubkey.cpp
Due: clang-format-10, cpplint

Replace examples for samples.
  example/README.md
  examples/CMakeLists.txt
  samples/CMakeLists.txt
  samples/test_bnConversion.cpp
  samples/test_bnModExpPerformOp.c
  samples/test_context.c
Due: clang-format-10, cpplint

Add toy example for demonstration on how to use it as 3rd party.
  example/CMakeLists.txt
  example/example.cpp
Due: clang-format-10, cpplint

Refactor and update build system.
  CMakeLists.txt
  common/CMakeLists.txt
  he_qat/CMakeLists.txt
Due: none

Add script to run all samples.
  run.sh
Due: shfmt, shellcheck

Update CMakeLists.txt
  CMakeLists.txt
Due: none

Add cmake/he_qat.
  cmake/he_qat/HE_QATConfig.cmake.in
Due: none

update qat branch (#59)
  README.md
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  ipcl/CMakeLists.txt
  ipcl/bignum.cpp
  ipcl/include/ipcl/bignum.h
  ipcl/include/ipcl/common.hpp
  ipcl/include/ipcl/keygen.hpp
  ipcl/include/ipcl/mod_exp.hpp
  ipcl/include/ipcl/ops.hpp
  ipcl/include/ipcl/pri_key.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/include/ipcl/util.hpp
  ipcl/keygen.cpp
  ipcl/mod_exp.cpp
  ipcl/ops.cpp
  ipcl/paillier_ops.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

Modifed benchmark cases for larger inputs - Addresses #60 (#61)
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
Due: clang-format-10, cpplint

Enable different ModExp callback func to support different ModExp interfaces.
  he_qat/he_qat_bn_ops.c
  he_qat/include/he_qat_bn_ops.h
  he_qat/include/he_qat_types.h
Due: clang-format-10, cpplint

Add sample showing how the BigNumber ModExp on QAT is supported.
  samples/CMakeLists.txt
  samples/test_bnModExp.cpp
  samples/test_bnModExpPerformOp.c
Due: clang-format-10, cpplint

Minor change to common/CMakeLists.txt
  common/CMakeLists.txt
Due: none

Unset and parameterize CMAKE_PREFIX_PATH to find IPP Crypto (IPPCP_PREFIX_PATH).
  CMakeLists.txt
Due: none
