Repository intel/pailliercryptolib: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck

.pre-commit-config.yaml:

exclude: 'docs/doxygen/'
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: typos-v0.8.2
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format-10
          name: clang-format-10
          entry: clang-format-10
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          exclude: ipcl/bignum.cpp|ipcl/include/ipcl/bignum.h
          args:
            - --recursive
            - --filter=-runtime/references,-whitespace/comments,-whitespace/indent
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091

test
  ipcl/include/ipcl/pub_key.hpp
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

change applyObfuscator to void as it will be inline
  ipcl/include/ipcl/pub_key.hpp
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

Cleanupx
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

Refactor apply obfuscator (#10)
  ipcl/include/ipcl/pub_key.hpp
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

Update version for 1.1.4
  CMakeLists.txt
Due: none

Fix undefined references.
  he_qat/CMakeLists.txt
Due: none

Isolate global constants.
  he_qat/include/he_qat_gconst.h
  he_qat/include/he_qat_types.h
  misc/he_qat_misc.h
Due: clang-format-10, cpplint

Update comments, documentation and some clean-up.
  he_qat/he_qat_ctrl.c
  he_qat/he_qat_ops.c
  he_qat/include/he_qat_bn_ops.h
  he_qat/include/he_qat_context.h
Due: clang-format-10, cpplint

[WIP] Update code cleanup and refactoring.
  he_qat/he_qat_ctrl.c
  he_qat/he_qat_ops.c
  he_qat/include/he_qat_bn_ops.h
  samples/test_bnModExpPerformOp.c
Due: clang-format-10, cpplint

Remove outdated comments.
  he_qat/he_qat_ops.c
Due: clang-format-10, cpplint

Remove dead code.
  misc/he_qat_misc.cpp
Due: clang-format-10, cpplint

Fix interface name.
  he_qat/include/he_qat_bn_ops.h
Due: clang-format-10, cpplint

Apply public repo changes: 2 insecure rng fix (#126)
  CMakeLists.txt
  ipcl/CMakeLists.txt
  ipcl/common.cpp
  ipcl/include/ipcl/common.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/keygen.cpp
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

Update ipp-crypto version to use ippcp_2021.6
  cmake/ippcrypto.cmake
Due: none

Update ipp-crypto version to use ippcp_2021.6 (#12)
  cmake/ippcrypto.cmake
Due: none

testing
  cmake/gbenchmark.cmake
Due: none

Fix gbenchmark build error on other platforms
  cmake/gbenchmark.cmake
Due: none

Fixed IPCLTargets typo
  cmake/ipcl/IPCLConfig.cmake.in
Due: none

Documentation updates - WIP - Updated pre-commit to use clang-format-11
  .pre-commit-config.yaml
  BUILD.md
  README.md
Due: none

README update
  README.md
Due: none

WIP
  BUILD.md
  README.md
Due: none

Update version to 1.1.4
  CMakeLists.txt
Due: none

13 errors building installing questions about docs (#15)
  CMakeLists.txt
  cmake/gbenchmark.cmake
  cmake/ipcl/IPCLConfig.cmake.in
Due: none

Update to 1.1.4 (#17)
  CMakeLists.txt
  cmake/gbenchmark.cmake
  cmake/ipcl/IPCLConfig.cmake.in
  cmake/ippcrypto.cmake
  ipcl/CMakeLists.txt
  ipcl/common.cpp
  ipcl/include/ipcl/common.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/keygen.cpp
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

Enable Doxygen documentation install.
  CMakeLists.txt
  doc/CMakeLists.txt
  doc/Doxyfile.in
  doc/index.html
  doc/index.rst
Due: none

Change doc comments to fix doxygen compilation.
  he_qat/he_qat_bn_ops.c
  he_qat/he_qat_context.c
  he_qat/he_qat_ctrl.c
  he_qat/he_qat_ops.c
  he_qat/include/he_qat_bn_ops.h
  he_qat/include/he_qat_context.h
  he_qat/include/he_qat_types.h
  misc/he_qat_misc.cpp
  misc/he_qat_misc.h
Due: clang-format-10, cpplint

ipcl/CMakeLists.txt clean
  ipcl/CMakeLists.txt
Due: none

Update comments on types.
  he_qat/include/he_qat_types.h
Due: clang-format-10, cpplint

Remove unused header.
  include/cpa_sample_cnv_utils.h
Due: clang-format-10, cpplint

Update API doc comments.
  he_qat/include/he_qat_bn_ops.h
Due: clang-format-10, cpplint

Update device config files.
  config/1inst1dev/4xxx_dev0.conf
  config/1inst1dev/4xxx_dev2.conf
  config/1inst1dev/4xxx_dev3.conf
  config/1inst1dev/4xxx_dev4.conf
  config/1inst1dev/4xxx_dev5.conf
  config/1inst1dev/4xxx_dev6.conf
  config/1inst1dev/4xxx_dev7.conf
  config/2inst1dev/4xxx_dev0.conf
  config/2inst1dev/4xxx_dev1.conf
  config/2inst1dev/4xxx_dev2.conf
  config/2inst1dev/4xxx_dev3.conf
  config/2inst1dev/4xxx_dev4.conf
  config/2inst1dev/4xxx_dev5.conf
  config/2inst1dev/4xxx_dev6.conf
  config/4xxx_dev0.conf
  config/4xxxvf_dev0.conf
  config/8inst/4xxx_dev0.conf
Due: none

Update strict to setup devices.
  setup_devices.sh
Due: shfmt, shellcheck

Update sample test for HE_QAT_BIGNUMModExp().
  samples/CMakeLists.txt
  samples/test_BIGNUMModExp.c
Due: clang-format-10, cpplint

Fix hexadecimal print.
  he_qat/he_qat_utils.c
Due: clang-format-10, cpplint

Update time measurer.
  samples/test_BIGNUMModExp.c
  samples/test_bnConversion.cpp
Due: clang-format-10, cpplint

Update example.
  example/example.cpp
Due: clang-format-10, cpplint

keygen.hpp: rename it with ipcl.hpp, use it as public header
  ipcl/include/ipcl/ipcl.hpp
  ipcl/keygen.cpp
Due: clang-format-10, cpplint

Unit test & benchmark: replace header files with ipcl.hpp
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

Add ipcl.hpp public header & cleanup ipcl/CMakeLists.txt (#22)
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  ipcl/CMakeLists.txt
  ipcl/include/ipcl/ipcl.hpp
  ipcl/keygen.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint
