Repository intel/pailliercryptolib: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive
  - --filter=-runtime/references,-whitespace/comments,-whitespace/indent

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

Revert "Fix - use full QAT when OMP is disabled"
  ipcl/ciphertext.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
Due: clang-format, cpplint

Remove example files from cpplint excludes
  .pre-commit-config.yaml
Due: none

Separated cpplint for C and C++ codes - Added filter C codes: readability/casting and runtime/int
  .pre-commit-config.yaml
  example/test.cpp
  module/heqat/heqat/common/utils.c
  module/heqat/heqat/context.c
  module/heqat/heqat/ctrl.c
  module/heqat/heqat/include/heqat/common.h
  module/heqat/heqat/include/heqat/common/utils.h
  module/heqat/heqat/include/heqat/heqat.h
  module/heqat/heqat/include/heqat/misc/utils.h
Due: clang-format, cpplint

Removed ```NOLINT``` keywords after added C filters
  module/heqat/heqat/cb.c
  module/heqat/heqat/context.c
  module/heqat/heqat/ctrl.c
  module/heqat/heqat/include/heqat/common/types.h
  module/heqat/heqat/include/heqat/common/utils.h
  module/heqat/test/test_BIGNUMModExp.c
Due: clang-format, cpplint

Add ```IPCL_ENABLE_QAT=ON``` option in CI/CD build command
  .github/workflows/github-ci.yml
Due: none

Remove deprecated test case file
  example/test.cpp
Due: clang-format

Update CODEOWNERS
  CODEOWNERS
Due: none

Refactoring - Moved utility function sources and headers under utils folder - Added serialize function (TBD)
  CMakeLists.txt
  benchmark/main.cpp
  cmake/cereal.cmake
  cmake/cpufeatures.cmake
  ipcl/CMakeLists.txt
  ipcl/base_text.cpp
  ipcl/include/ipcl/bignum.h
  ipcl/include/ipcl/ciphertext.hpp
  ipcl/include/ipcl/ipcl.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/include/ipcl/utils/common.hpp
  ipcl/include/ipcl/utils/context.hpp
  ipcl/include/ipcl/utils/serialize.hpp
  ipcl/include/ipcl/utils/util.hpp
  ipcl/mod_exp.cpp
  ipcl/plaintext.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  ipcl/utils/common.cpp
  ipcl/utils/context.cpp
  ipcl/utils/util.cpp
  test/main.cpp
Due: clang-format, cpplint

Refactoring (#30)
  CMakeLists.txt
  benchmark/main.cpp
  cmake/cereal.cmake
  cmake/cpufeatures.cmake
  ipcl/CMakeLists.txt
  ipcl/base_text.cpp
  ipcl/include/ipcl/bignum.h
  ipcl/include/ipcl/ciphertext.hpp
  ipcl/include/ipcl/ipcl.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/include/ipcl/utils/common.hpp
  ipcl/include/ipcl/utils/context.hpp
  ipcl/include/ipcl/utils/serialize.hpp
  ipcl/include/ipcl/utils/util.hpp
  ipcl/mod_exp.cpp
  ipcl/plaintext.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  ipcl/utils/common.cpp
  ipcl/utils/context.cpp
  ipcl/utils/util.cpp
  test/main.cpp
Due: clang-format, cpplint

pubkey: Remove unnecessary m_init_seed, randomUniformUnsignedInt()
  ipcl/include/ipcl/pub_key.hpp
  ipcl/pub_key.cpp
Due: clang-format, cpplint

plaintext: Make user define type conversion support const value
  ipcl/include/ipcl/plaintext.hpp
  ipcl/plaintext.cpp
Due: clang-format, cpplint

v2.0 fixup (#31)
  ipcl/include/ipcl/plaintext.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/plaintext.cpp
  ipcl/pub_key.cpp
Due: clang-format, cpplint

Refactor thread count implementation
  CMakeLists.txt
  cmake/ipcl/ipcl-util.cmake
Due: none

Add hyperthreading message
  cmake/ipcl/ipcl-util.cmake
Due: none

Added output_strip_trailing_whitespace
  cmake/ipcl/ipcl-util.cmake
Due: none

Remove numa and add lscpu parser to get number of threads/cores
  CMakeLists.txt
  README.md
  cmake/ipcl/ipcl-util.cmake
  ipcl/CMakeLists.txt
  ipcl/include/ipcl/utils/util.hpp
  ipcl/utils/util.cpp
Due: clang-format, cpplint

Updated README section on dependency installation
  README.md
Due: none

* Get thread count using std::thread::hardware_concurrency instead of hardcoded fixed value * Set ```IPCL_NUM_NODES``` macro after parsing ```lscpu```
  CMakeLists.txt
  ipcl/include/ipcl/utils/util.hpp
  ipcl/utils/util.cpp
Due: clang-format, cpplint

Added cpu_parser
  ipcl/CMakeLists.txt
  ipcl/include/ipcl/utils/parse_cpuinfo.hpp
  ipcl/include/ipcl/utils/util.hpp
  ipcl/utils/parse_cpuinfo.cpp
  ipcl/utils/util.cpp
Due: clang-format, cpplint

Added runtime cpu nodes detection
  CMakeLists.txt
  ipcl/include/ipcl/utils/util.hpp
  ipcl/utils/util.cpp
Due: clang-format, cpplint

Add ifdef for cpuinfo parser
  ipcl/include/ipcl/utils/util.hpp
  ipcl/utils/util.cpp
Due: clang-format, cpplint

Typo fix
  cmake/ipcl/ipcl-util.cmake
  ipcl/include/ipcl/utils/parse_cpuinfo.hpp
  ipcl/include/ipcl/utils/util.hpp
Due: clang-format, cpplint

Updated sockets to nodes for consistency
  CMakeLists.txt
  cmake/ipcl/ipcl-util.cmake
Due: none

Refactor thread counts (#32)
  CMakeLists.txt
  README.md
  cmake/ipcl/ipcl-util.cmake
  ipcl/CMakeLists.txt
  ipcl/include/ipcl/utils/parse_cpuinfo.hpp
  ipcl/include/ipcl/utils/util.hpp
  ipcl/utils/parse_cpuinfo.cpp
  ipcl/utils/util.cpp
Due: clang-format, cpplint

modexp: Re-implemented hybrid mod exp(with method#2)
  ipcl/mod_exp.cpp
Due: clang-format, cpplint

pubkey, privkey, ciphertext: Comment out the OPTIMAL mode part
  ipcl/ciphertext.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
Due: clang-format, cpplint

unittest, bench_hybrid: Comment out hybrid related part
  benchmark/bench_hybrid.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format, cpplint

Removed struct initial values
  ipcl/include/ipcl/utils/parse_cpuinfo.hpp
Due: clang-format, cpplint

Testing new github ci
  .github/workflows/github-ci.yml
Due: none

Updated branches regex
  .github/workflows/github-ci.yml
Due: none

Refactor CI/CD process
  .github/workflows/github-ci.yml
  example/CMakeLists.txt
  example/example_add_mul.cpp
  example/example_encrypt_decrypt.cpp
  example/example_hybridmode.cpp
Due: clang-format, cpplint

Fix typo - artifact
  .github/workflows/github-ci.yml
Due: none

Fix typo
  .github/workflows/github-ci.yml
Due: none

Added IPCL_DIR hint location
  .github/workflows/github-ci.yml
Due: none

Separate env validation and build
  .github/workflows/github-ci.yml
Due: none

Updated cmake build to use IPCL_HINT_DIR
  .github/workflows/github-ci.yml
Due: none

Cleanup examples
  example/example_encrypt_decrypt.cpp
  example/example_hybridmode.cpp
Due: clang-format, cpplint

Updated github ci (#34)
  .github/workflows/github-ci.yml
  example/CMakeLists.txt
  example/example_add_mul.cpp
  example/example_encrypt_decrypt.cpp
  example/example_hybridmode.cpp
Due: clang-format, cpplint

IPP-Crypto patch to fix gcc-11/12 compile error
  .pre-commit-config.yaml
  cmake/ippcrypto.cmake
  cmake/patch/ippcrypto_patch.patch
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: docs/doxygen/
  shfmt: any of: \.sh$, but not: docs/doxygen/
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$ and not (ipcl/bignum.cpp|ipcl/include/ipcl/bignum.h|example/test.cpp) and not (docs/doxygen/)
  shellcheck: any of: \.sh$, but not: docs/doxygen/
