Repository intel/pailliercryptolib: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive
  - --filter=-runtime/references,-whitespace/comments,-whitespace/indent

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

Revert "Remove cpa_sample_utils from repository and enable build without external codes(#32)" (#34)
  CMakeLists.txt
  cmake/he_qat/HE_QATConfig.cmake.in
  example/CMakeLists.txt
  heqat/CMakeLists.txt
  heqat/bnops.c
  heqat/cb.c
  heqat/common/CMakeLists.txt
  heqat/common/cpa_sample_utils.c
  heqat/common/utils.c
  heqat/context.c
  heqat/ctrl.c
  heqat/include/heqat/common.h
  heqat/include/heqat/common/cpa_sample_utils.h
  heqat/include/heqat/common/types.h
  icp/CMakeLists.txt
  samples/CMakeLists.txt
Due: clang-format, cpplint

Remove cpa_sample_utils dependency.
  doc/Doxyfile.in
  example/example.cpp
  heqat/CMakeLists.txt
  heqat/bnops.c
  heqat/cb.c
  heqat/common/CMakeLists.txt
  heqat/common/cpa_sample_utils.c
  heqat/common/utils.c
  heqat/context.c
  heqat/ctrl.c
  heqat/include/heqat/bnops.h
  heqat/include/heqat/common.h
  heqat/include/heqat/common/cpa_sample_utils.h
  heqat/include/heqat/common/types.h
  heqat/include/heqat/common/utils.h
  heqat/include/heqat/context.h
  samples/test_BIGNUMModExp.c
  samples/test_bnConversion.cpp
  samples/test_bnModExp.cpp
  samples/test_bnModExp_MT.cpp
  samples/test_context.c
Due: clang-format, cpplint

Make ICP headers public.
  example/CMakeLists.txt
  heqat/CMakeLists.txt
  samples/CMakeLists.txt
Due: none

Move icp/CMakeLists.txt to cmake/qatconfig.cmake
  CMakeLists.txt
  cmake/qatconfig.cmake
Due: none

Minor addition.
  CMakeLists.txt
Due: none

Update Contributors.
  README.md
Due: none

Add license headers. (#38)
  CMakeLists.txt
  cmake/he_qat/HE_QATConfig.cmake.in
  cmake/he_qat/heqat-util.cmake
  cmake/qatconfig.cmake
  doc/CMakeLists.txt
  doc/Doxyfile.in
  example/CMakeLists.txt
  example/example.cpp
  heqat/CMakeLists.txt
  heqat/bnops.c
  heqat/cb.c
  heqat/common/CMakeLists.txt
  heqat/common/utils.c
  heqat/context.c
  heqat/ctrl.c
  heqat/include/heqat/bnops.h
  heqat/include/heqat/common.h
  heqat/include/heqat/common/consts.h
  heqat/include/heqat/common/types.h
  heqat/include/heqat/common/utils.h
  heqat/include/heqat/context.h
  heqat/include/heqat/heqat.h
  heqat/include/heqat/misc.h
  heqat/misc/CMakeLists.txt
  heqat/misc/misc.cpp
  samples/CMakeLists.txt
  samples/test_BIGNUMModExp.c
  samples/test_bnConversion.cpp
  samples/test_bnModExp.cpp
  samples/test_bnModExp_MT.cpp
  samples/test_context.c
  scripts/auto_find_qat_install.sh
  scripts/reset_asym_buffer_size.sh
  scripts/restart_devices.sh
  scripts/run.sh
  scripts/setup_devices.sh
Due: clang-format, shfmt, cpplint, shellcheck

Remove ICP variables dependency.
  module/heqat.cmake
Due: none

Replace PRINT_ERR by HE_QAT_PRINT_ERR.
  ipcl/mod_exp.cpp
Due: clang-format, cpplint

Update module/heqat.cmake
  module/heqat.cmake
Due: none

Minor updates (#39)
  cmake/he_qat/HE_QATConfig.cmake.in
  cmake/qatconfig.cmake
  heqat/CMakeLists.txt
  test/CMakeLists.txt
  test/test_BIGNUMModExp.c
  test/test_bnConversion.cpp
  test/test_bnModExp.cpp
  test/test_bnModExp_MT.cpp
  test/test_context.c
Due: clang-format, cpplint

Update qat_integration with heqat updates (#141)
  .pre-commit-config.yaml
  CMakeLists.txt
  benchmark/main.cpp
  cmake/ipcl/ipcl-util.cmake
  cmake/ippcrypto_patch.patch
  ipcl/CMakeLists.txt
  ipcl/bignum.cpp
  ipcl/context.cpp
  ipcl/include/ipcl/bignum.h
  ipcl/include/ipcl/context.hpp
  module/heqat.cmake
  test/main.cpp
Due: clang-format, cpplint

Cleanup deprecated compile definitions and cmake variables (#40)
  CMakeLists.txt
  cmake/he_qat/HE_QATConfig.cmake.in
  cmake/qatconfig.cmake
  test/CMakeLists.txt
Due: none

Removed depracated compile-definitions (#142)
  cmake/ipcl/ipcl-util.cmake
  ipcl/CMakeLists.txt
Due: none

Removed HE_QAT_SAMPLES flag in heqat.cmake and replaced with HE_QAT_TEST=OFF
  module/heqat.cmake
Due: none

Clean-up and bug fix. (#41)
  README.md
  cmake/qatconfig.cmake
  heqat/bnops.c
  heqat/cb.c
  heqat/context.c
  heqat/ctrl.c
  scripts/run.sh
Due: clang-format, shfmt, cpplint, shellcheck

Code clang-formatting. (#42)
  heqat/bnops.c
  heqat/cb.c
  heqat/common/utils.c
  heqat/context.c
  heqat/ctrl.c
  heqat/include/heqat/bnops.h
  heqat/include/heqat/common.h
  heqat/include/heqat/common/consts.h
  heqat/include/heqat/common/types.h
  heqat/include/heqat/common/utils.h
  heqat/include/heqat/heqat.h
  heqat/include/heqat/misc.h
  heqat/misc/bignum.cpp
  heqat/misc/misc.cpp
Due: clang-format, cpplint

Remove submodule.
  .gitmodules
Due: none

Fix IPP-Crypto compile error after applying patch (#144)
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/gtest.cmake
  cmake/ippcrypto.cmake
  cmake/ippcrypto_patch.patch
  cmake/patch/ippcrypto_patch.patch
  ipcl/keygen.cpp
  module/heqat.cmake
Due: clang-format, cpplint

Cmake rule: one cmakelists per target (#145)
  module/heqat/heqat/CMakeLists.txt
  module/heqat/heqat/common/CMakeLists.txt
  module/heqat/heqat/misc/CMakeLists.txt
Due: none

Minor fixes (#146)
  benchmark/CMakeLists.txt
  ipcl/CMakeLists.txt
  module/heqat.cmake
  module/heqat/CMakeLists.txt
  module/heqat/heqat/CMakeLists.txt
  test/CMakeLists.txt
Due: none

Build heqat as subdirectory (#147)
  CMakeLists.txt
  cmake/ippcrypto.cmake
  ipcl/CMakeLists.txt
  module/heqat/CMakeLists.txt
  module/heqat/heqat/CMakeLists.txt
Due: none

Add support for hybrid ModExp (method#1) (#140)
  benchmark/CMakeLists.txt
  benchmark/bench_hybrid.cpp
  example/test.cpp
  ipcl/include/ipcl/common.hpp
  ipcl/include/ipcl/ipcl.hpp
  ipcl/include/ipcl/mod_exp.hpp
  ipcl/mod_exp.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format, cpplint

Skmono/detect rdseed runtime (#148)
  CMakeLists.txt
  cmake/cpufeatures.cmake
  ipcl/CMakeLists.txt
  ipcl/common.cpp
  ipcl/include/ipcl/util.hpp
  ipcl/mod_exp.cpp
Due: clang-format, cpplint

Add hybrid mode (#149)
  CMakeLists.txt
  benchmark/CMakeLists.txt
  benchmark/bench_hybrid.cpp
  example/test.cpp
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/common.hpp
  ipcl/include/ipcl/mod_exp.hpp
  ipcl/mod_exp.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  test/CMakeLists.txt
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format, cpplint

IPCL 2.0 documentation (#150)
  README.md
  example/CMakeLists.txt
  example/README.md
  example/example_add_mul.cpp
  example/example_encrypt_decrypt.cpp
  example/example_hybridmode.cpp
  ipcl/context.cpp
  ipcl/include/ipcl/context.hpp
  ipcl/include/ipcl/mod_exp.hpp
  ipcl/mod_exp.cpp
Due: clang-format, cpplint

Type fix
  ipcl/context.cpp
Due: clang-format, cpplint

modexp: Fix setHybridMode cannot set hybrid mode correctly
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/mod_exp.hpp
  ipcl/mod_exp.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
Due: clang-format, cpplint

Enable Python shared library build
  CMakeLists.txt
  cmake/cpufeatures.cmake
  cmake/ippcrypto.cmake
Due: none

Improve IPCL Python build parameter check
  CMakeLists.txt
  cmake/cpufeatures.cmake
  cmake/ippcrypto.cmake
Due: none

Add IPCL_INTERNAL_PYTHON_BUILD message when set
  CMakeLists.txt
Due: none

Testing rpath setup for ipcl
  ipcl/CMakeLists.txt
Due: none

Fix ORIGIN rpath to include HEQAT correctly
  CMakeLists.txt
Due: none

Disable IPCL_ENABLE_QAT if dependencies are not correctly set rather than abort
  CMakeLists.txt
  cmake/ipcl/ipcl-util.cmake
Due: none

IPCL_FOUND_QAT cases refactoring
  cmake/ipcl/ipcl-util.cmake
Due: none

Fix - use full QAT when OMP is disabled
  ipcl/ciphertext.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
Due: clang-format, cpplint

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: docs/doxygen/
  shfmt: any of: \.sh$, but not: docs/doxygen/
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$ and not (ipcl/bignum.cpp|ipcl/include/ipcl/bignum.h|example/test.cpp) and not (docs/doxygen/)
  shellcheck: any of: \.sh$, but not: docs/doxygen/
