Repository intel/pailliercryptolib: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck

clang-format-10:
  name: clang-format-10
  entry: clang-format-10
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive
  - --filter=-runtime/references,-whitespace/comments,-whitespace/indent

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

CI/CD test
  ipcl/CMakeLists.txt
Due: none

testing
  cmake/ippcrypto.cmake
  ipcl/CMakeLists.txt
  ipcl/include/ipcl/bignum.h
Due: clang-format-10

fix WIP
  benchmark/CMakeLists.txt
  ipcl/CMakeLists.txt
  test/CMakeLists.txt
Due: none

Fixed private includes error
  benchmark/CMakeLists.txt
  ipcl/CMakeLists.txt
Due: none

Minor fixes - Old names (ipp paillier) replaced with ipcl - Typo fixes
  README.md
  cmake/ippcrypto.cmake
  docs/CMakeLists.txt
Due: none

fix testing
  benchmark/CMakeLists.txt
  cmake/ippcrypto.cmake
  ipcl/CMakeLists.txt
  test/CMakeLists.txt
Due: none

fix2
  ipcl/CMakeLists.txt
  test/CMakeLists.txt
Due: none

documentation wip
  README.md
  cmake/ippcrypto.cmake
Due: none

README updates - minor fixes: libgbenchmark directory changes
  README.md
  cmake/gbenchmark.cmake
Due: none

Detect linux distro for google benchmark library installation path
  cmake/gbenchmark.cmake
Due: none

Minor fix - Fixed typos - Removed debugging messages
  README.md
  cmake/gbenchmark.cmake
Due: none

Initial commit
  LICENSE
  README.md
Due: none

Initial commit.
  .gitignore
  CMakeLists.txt
  common/CMakeLists.txt
  common/cpa_sample_utils.c
  he_qat_context.c
  he_qat_context.h
  he_qat_types.h
  include/cpa_sample_cnv_utils.h
  include/cpa_sample_utils.h
  ln_mod_exp/CMakeLists.txt
  ln_mod_exp/cpa_mod_exp_sample.c
  ln_mod_exp/cpa_mod_exp_sample_user.c
  ln_mod_exp/qat_modexp_validation.c
  run.sh
Due: clang-format-10, shfmt, cpplint, shellcheck

Add initial 'code' to set up QAT context.
  he_qat_context.c
Due: clang-format-10, cpplint

Docs licenses (#2)
  .clang-format
  .gitignore
  .pre-commit-config.yaml
  .typos.toml
  CMakeLists.txt
  CODEOWNERS
  LICENSE
  README.md
  benchmark/CMakeLists.txt
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  benchmark/main.cpp
  cmake/gbenchmark.cmake
  cmake/gtest.cmake
  cmake/ipcl/ipcl-util.cmake
  cmake/ippcrypto.cmake
  docs/CMakeLists.txt
  docs/Doxyfile.in
  docs/index.rst
  ipcl/CMakeLists.txt
  ipcl/include/ipcl/key_pair.hpp
  ipcl/include/ipcl/paillier_ops.hpp
  ipcl/include/ipcl/pri_key.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/key_pair.cpp
  ipcl/paillier_ops.cpp
  ipcl/paillier_pri.cpp
  ipcl/paillier_pub.cpp
  test/CMakeLists.txt
  test/test.cpp
  test/test_omp.cpp
Due: clang-format-10, cpplint

Cleanup and unittest works (#3)
  .github/workflows/github-ci.yml
  CMakeLists.txt
  benchmark/CMakeLists.txt
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  ipcl/include/ipcl/pri_key.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/paillier_pub.cpp
  test/CMakeLists.txt
  test/main.cpp
  test/test.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

Update readme (#7)
  README.md
Due: none

Update initial source code design of Milestone 1.
  he_qat_bn_ops.c
  he_qat_bn_ops.h
  he_qat_context.c
  he_qat_context.h
  he_qat_types.h
Due: clang-format-10, cpplint

Fix typos and doxygen generator (#9)
  docs/Doxyfile.in
  ipcl/include/ipcl/pub_key.hpp
Due: clang-format-10, cpplint

Fixed doxygen strings with new IPCL names
  docs/Doxyfile.in
  docs/index.rst
Due: none

Update to the design of he_qat_context and he_qat_bn_ops.
  he_qat_bn_ops.c
  he_qat_bn_ops.h
  he_qat_context.c
  he_qat_types.h
Due: clang-format-10, cpplint

Rename BSIZE to HE_QAT_BUFFER_SIZE.
  he_qat_bn_ops.c
Due: clang-format-10, cpplint

Fix object passed as pCallbackTag.
  he_qat_bn_ops.c
Due: clang-format-10, cpplint

Fix return type of bnModExpPerformOp.
  he_qat_bn_ops.c
Due: clang-format-10, cpplint

Update custom type definitions.
  he_qat_types.h
Due: clang-format-10, cpplint

Encapsulate polling thread and refactor processing thread.
  he_qat_bn_ops.c
  he_qat_bn_ops.h
Due: clang-format-10, cpplint

Refactor interfaces to acquire and release QAT endpoints.
  he_qat_context.c
  he_qat_context.h
Due: clang-format-10, cpplint

Fix initialization of the instances configuration objects.
  he_qat_context.c
Due: clang-format-10, cpplint

Fix return value in acquire_qat_devices().wq
  he_qat_context.c
Due: clang-format-10, cpplint

Fix bugs for compilation.
  he_qat_bn_ops.c
  he_qat_context.c
  he_qat_context.h
  he_qat_types.h
  include/cpa_sample_utils.h
Due: clang-format-10, cpplint

Fix segmentation fault in acquire_qat_devices().
  he_qat_bn_ops.c
  he_qat_context.c
Due: clang-format-10, cpplint

Fix compilation warnings of implicit declarations in he_qat_context.c.
  he_qat_context.c
Due: clang-format-10, cpplint

Add simple unit test for he_qat_context.*.
  CMakeLists.txt
  test_context.c
Due: clang-format-10, cpplint

Add sleep time to test context.
  test_context.c
Due: clang-format-10, cpplint

Fix synchronization issue between acquire and release.
  he_qat_bn_ops.c
  he_qat_context.c
  he_qat_types.h
Due: clang-format-10, cpplint

Real fix to sync issue between acquire and release.
  he_qat_bn_ops.c
  he_qat_context.c
Due: clang-format-10, cpplint

Switch CpaInstanceHandle to a local variable.
  he_qat_context.c
Due: clang-format-10, cpplint

Path conditions:
  clang-format-10: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: docs/doxygen/
  shfmt: any of: \.sh$, but not: docs/doxygen/
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$ and not (ipcl/bignum.cpp|ipcl/include/ipcl/bignum.h) and not (docs/doxygen/)
  shellcheck: any of: \.sh$, but not: docs/doxygen/
