Repository intel/pailliercryptolib: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck

.pre-commit-config.yaml:

# Copyright (C) 2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

exclude: 'docs/doxygen/'
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: typos-v0.8.2
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          exclude: ipcl/bignum.cpp|ipcl/include/ipcl/bignum.h|example/test.cpp
          args:
            - --recursive
            - --filter=-runtime/references,-whitespace/comments,-whitespace/indent
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091

Expose context status interface.
  he_qat/he_qat_context.c
  he_qat/he_qat_ctrl.c
  he_qat/include/he_qat_context.h
  he_qat/include/he_qat_types.h
Due: clang-format, cpplint

Fix compilation
  he_qat/he_qat_ctrl.c
Due: clang-format, cpplint

Add interfaces to probe QAT context state.
  ipcl/context.cpp
  ipcl/include/ipcl/context.hpp
Due: clang-format, cpplint

Fix compilation.
  ipcl/context.cpp
Due: clang-format, cpplint

Test QAT context status interface.
  test/main.cpp
Due: clang-format, cpplint

Apply changes on dev branch to qat_integration (#132)
  .github/workflows/github-ci.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  CODE_OF_CONDUCT.md
  README.md
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  cmake/cpufeatures.cmake
  cmake/gbenchmark.cmake
  cmake/gtest.cmake
  cmake/ipcl/IPCLConfig.cmake.in
  cmake/ippcrypto.cmake
  example/CMakeLists.txt
  example/README.md
  example/test.cpp
  ipcl/CMakeLists.txt
  ipcl/common.cpp
  ipcl/include/ipcl/common.hpp
  ipcl/include/ipcl/ipcl.hpp
  ipcl/include/ipcl/mod_exp.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/include/ipcl/util.hpp
  ipcl/keygen.cpp
  ipcl/mod_exp.cpp
  ipcl/pub_key.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format, cpplint

Add context header to public header
  ipcl/include/ipcl/ipcl.hpp
Due: clang-format, cpplint

Fail-proof context setup and teardown.
  he_qat/he_qat_context.c
  samples/test_context.c
Due: clang-format, cpplint

Update context.
  ipcl/context.cpp
Due: clang-format, cpplint

Rename Debug Macro.
  he_qat/he_qat_utils.c
Due: clang-format, cpplint

Explicitly set CMAKE_INSTALL_LIBDIR to avoid confusion on different distros
  cmake/cpufeatures.cmake
  cmake/gbenchmark.cmake
  cmake/gtest.cmake
  cmake/ippcrypto.cmake
Due: none

Refactor to HE_QAT_PRINT_DBG and PRINT.
  he_qat/he_qat_utils.c
  he_qat/include/he_qat_utils.h
  include/cpa_sample_utils.h
  samples/CMakeLists.txt
  samples/test_BIGNUMModExp.c
  samples/test_bnConversion.cpp
Due: clang-format, cpplint

Explicitly set CMAKE_INSTALL_LIBDIR to avoid confusion on different distros (#25)
  cmake/cpufeatures.cmake
  cmake/gbenchmark.cmake
  cmake/gtest.cmake
  cmake/ippcrypto.cmake
Due: none

Fix installation on fedora systems
  cmake/cpufeatures.cmake
  cmake/ippcrypto.cmake
Due: none

Add cmake messages to print install prefix and lib/include dirs
  CMakeLists.txt
Due: none

Add a wrapper function: modExp (#133)
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/mod_exp.hpp
  ipcl/mod_exp.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
Due: clang-format, cpplint

Fix installation on Fedora platform (#26)
  CMakeLists.txt
  cmake/cpufeatures.cmake
  cmake/ippcrypto.cmake
Due: none

Refactoring include directories.
  CMakeLists.txt
  README.md
  common/CMakeLists.txt
  heqat/CMakeLists.txt
  heqat/bnops.c
  heqat/cb.c
  heqat/common/CMakeLists.txt
  heqat/common/cpa_sample_utils.c
  heqat/common/utils.c
  heqat/context.c
  heqat/ctrl.c
  heqat/include/heqat/bnops.h
  heqat/include/heqat/common.h
  heqat/include/heqat/common/consts.h
  heqat/include/heqat/common/cpa_sample_utils.h
  heqat/include/heqat/common/types.h
  heqat/include/heqat/common/utils.h
  heqat/include/heqat/context.h
  heqat/include/heqat/heqat.h
  heqat/include/heqat/misc.h
  heqat/include/heqat/misc/bignum.h
  heqat/include/heqat/misc/utils.h
  heqat/misc/CMakeLists.txt
  heqat/misc/bignum.cpp
  heqat/misc/misc.cpp
  heqat/misc/utils.cpp
  icp/CMakeLists.txt
  misc/CMakeLists.txt
  samples/CMakeLists.txt
  samples/test_BIGNUMModExp.c
  samples/test_bnConversion.cpp
  samples/test_bnModExp.cpp
  samples/test_bnModExp_MT.cpp
  samples/test_context.c
  scripts/run.sh
Due: clang-format, shfmt, cpplint, shellcheck

Update example.
  example/CMakeLists.txt
  example/example.cpp
Due: clang-format, cpplint

Update CMakeLists.txt.
  CMakeLists.txt
  heqat/CMakeLists.txt
  heqat/common/CMakeLists.txt
  heqat/misc/CMakeLists.txt
Due: none

Fix compilation for static lib.
  CMakeLists.txt
  example/CMakeLists.txt
  heqat/CMakeLists.txt
  heqat/include/heqat/heqat.h
  samples/CMakeLists.txt
Due: clang-format, cpplint

Add heqat to IPCL install dir.
  ipcl/CMakeLists.txt
  ipcl/context.cpp
  ipcl/mod_exp.cpp
  module/heqat.cmake
Due: clang-format, cpplint

Fix header in ctrl.c (#31)
  heqat/ctrl.c
Due: clang-format, cpplint

Fix fedora build
  cmake/cpufeatures.cmake
  cmake/gbenchmark.cmake
  cmake/gtest.cmake
  cmake/ippcrypto.cmake
Due: none

Fix header placement.
  heqat/ctrl.c
Due: clang-format, cpplint

Remove dangling header.
  include/cpa_sample_utils.h
Due: clang-format, cpplint

Update heqat module.
  module/heqat.cmake
Due: none

Install ICP headers.
  ipcl/CMakeLists.txt
Due: none

Update CMakeLists.txt
  CMakeLists.txt
  example/CMakeLists.txt
Due: none

Update README.md.
  README.md
Due: none

Update setup_devices.sh script.
  scripts/setup_devices.sh
Due: shfmt, shellcheck

Updated install paths (#137)
  CMakeLists.txt
  cmake/cpufeatures.cmake
  cmake/ipcl/ipcl-util.cmake
  cmake/ippcrypto.cmake
  cmake/ippcrypto_patch.patch
  example/CMakeLists.txt
  example/test.cpp
  ipcl/CMakeLists.txt
  module/heqat.cmake
Due: clang-format

Remove unused variables and functions.
  heqat/context.c
  heqat/ctrl.c
Due: clang-format, cpplint

Remove cpa_sample_utils from repository and enable build without external codes(#32)
  CMakeLists.txt
  cmake/he_qat/HE_QATConfig.cmake.in
  cmake/qat_config.cmake
  example/CMakeLists.txt
  heqat/CMakeLists.txt
  heqat/bnops.c
  heqat/cb.c
  heqat/common/CMakeLists.txt
  heqat/common/cpa_sample_utils.c
  heqat/common/utils.c
  heqat/context.c
  heqat/ctrl.c
  heqat/include/heqat/common.h
  heqat/include/heqat/common/cpa_sample_utils.h
  heqat/include/heqat/common/types.h
  samples/CMakeLists.txt
Due: clang-format, cpplint
