Repository intel/pailliercryptolib: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck

clang-format-10:
  name: clang-format-10
  entry: clang-format-10
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive
  - --filter=-runtime/references,-whitespace/comments,-whitespace/indent

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

Initialize outstanding buffers.
  he_qat/he_qat_context.c
Due: clang-format-10, cpplint

Complete multi-threading support with distributed outstanding buffers.
  he_qat/he_qat_bn_ops.c
  he_qat/include/he_qat_bn_ops.h
Due: clang-format-10, cpplint

Code format changes.
  he_qat/he_qat_bn_ops.c
  he_qat/he_qat_context.c
  he_qat/include/he_qat_bn_ops.h
  he_qat/include/he_qat_types.h
Due: clang-format-10, cpplint

improve encrypt decrypt (#75)
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  ipcl/CMakeLists.txt
  ipcl/base_text.cpp
  ipcl/bignum.cpp
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/base_text.hpp
  ipcl/include/ipcl/bignum.h
  ipcl/include/ipcl/ciphertext.hpp
  ipcl/include/ipcl/ops.hpp
  ipcl/include/ipcl/plaintext.hpp
  ipcl/include/ipcl/pri_key.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/mod_exp.cpp
  ipcl/ops.cpp
  ipcl/plaintext.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

Fix OpenMP bug and performance issues
  benchmark/CMakeLists.txt
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  ipcl/CMakeLists.txt
  ipcl/ciphertext.cpp
  ipcl/mod_exp.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  test/CMakeLists.txt
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

[Bug Fix]: crash for small batch sizes and multiple threads.
  CMakeLists.txt
  he_qat/he_qat_bn_ops.c
  he_qat/he_qat_context.c
  he_qat/include/he_qat_bn_ops.h
  he_qat/include/he_qat_types.h
  samples/CMakeLists.txt
Due: clang-format-10, cpplint

update qat branch with new CipherText PlainText implementation (#84)
  benchmark/CMakeLists.txt
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  benchmark/main.cpp
  ipcl/CMakeLists.txt
  ipcl/base_text.cpp
  ipcl/bignum.cpp
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/base_text.hpp
  ipcl/include/ipcl/bignum.h
  ipcl/include/ipcl/ciphertext.hpp
  ipcl/include/ipcl/ops.hpp
  ipcl/include/ipcl/plaintext.hpp
  ipcl/include/ipcl/pri_key.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/mod_exp.cpp
  ipcl/ops.cpp
  ipcl/plaintext.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  test/CMakeLists.txt
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

Custom batch size for heQatBnModExp (#87)
  ipcl/mod_exp.cpp
Due: clang-format-10, cpplint

Revert "Custom batch size for heQatBnModExp (#87)" (#88)
  ipcl/mod_exp.cpp
Due: clang-format-10, cpplint

Add address handler in base_text
  ipcl/include/ipcl/base_text.hpp
Due: clang-format-10, cpplint

implemented rotate to CipherText and PlainText
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/ciphertext.hpp
  ipcl/include/ipcl/plaintext.hpp
  ipcl/plaintext.cpp
Due: clang-format-10, cpplint

Added TODO for heQatBnModExp works
  ipcl/mod_exp.cpp
Due: clang-format-10, cpplint

Add multi-threading testing sample.
  samples/test_bnModExp_MT.cpp
Due: clang-format-10, cpplint

set DJN function added to development
  ipcl/include/ipcl/pub_key.hpp
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

Fix dJN bug
  ipcl/include/ipcl/pub_key.hpp
Due: clang-format-10, cpplint

Added m_enableDJN getter
  ipcl/include/ipcl/pub_key.hpp
Due: clang-format-10, cpplint

Added getters for hs and randbits for DJN scheme
  ipcl/include/ipcl/pub_key.hpp
Due: clang-format-10, cpplint

Add operators/functions to PlainText&BaseText (#94)
  ipcl/base_text.cpp
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/base_text.hpp
  ipcl/include/ipcl/ciphertext.hpp
  ipcl/include/ipcl/plaintext.hpp
  ipcl/plaintext.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

Fixed rotate negative size_t bug
  ipcl/ciphertext.cpp
Due: clang-format-10, cpplint

Remove seed from pub key getRandom function (#98)
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

Custom batch size support for QAT mod exp (#100)
  CMakeLists.txt
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  cmake/heqat/heqat.cmake
  ipcl/bignum.cpp
  ipcl/include/ipcl/bignum.h
  ipcl/mod_exp.cpp
Due: clang-format-10, cpplint

specify omp thread num (#97)
  README.md
  ipcl/ciphertext.cpp
  ipcl/mod_exp.cpp
  ipcl/pri_key.cpp
Due: clang-format-10, cpplint

Update README.md
  README.md
Due: none

test avx512ifma with larger input size (#101)
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  ipcl/CMakeLists.txt
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/util.hpp
  ipcl/mod_exp.cpp
  ipcl/pri_key.cpp
  ipcl/util.cpp
Due: clang-format-10, cpplint

Updated version number to v1.1.3
  CMakeLists.txt
Due: none

Update README.md with Troubleshooting section
  README.md
Due: none

Fix IPCL_USE_OMP missing issue (#103)
  ipcl/include/ipcl/util.hpp
  ipcl/util.cpp
Due: clang-format-10, cpplint

Fix OMP issue in decryptRAW (#104)
  ipcl/pri_key.cpp
Due: clang-format-10, cpplint

getCipherText function (#108)
  CMakeLists.txt
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/ciphertext.hpp
Due: clang-format-10, cpplint

Add support for -DIPCL_THREAD_COUNT (#107)
  CMakeLists.txt
  README.md
  ipcl/CMakeLists.txt
  ipcl/include/ipcl/util.hpp
  ipcl/pri_key.cpp
  ipcl/util.cpp
Due: clang-format-10, cpplint

1. Add error log when key size is not >=16 or not divisible by 4. (#113)
  ipcl/keygen.cpp
Due: clang-format-10, cpplint

Updated version - QAT 2.0.0
  CMakeLists.txt
Due: none

qat integration update (#115)
  CMakeLists.txt
  README.md
  benchmark/CMakeLists.txt
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  ipcl/CMakeLists.txt
  ipcl/base_text.cpp
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/base_text.hpp
  ipcl/include/ipcl/ciphertext.hpp
  ipcl/include/ipcl/plaintext.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/include/ipcl/util.hpp
  ipcl/keygen.cpp
  ipcl/mod_exp.cpp
  ipcl/plaintext.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  ipcl/util.cpp
  test/CMakeLists.txt
  test/test_ops.cpp
Due: clang-format-10, cpplint

Static Lib Build (#20)
  .clang-format
  .gitignore
  CMakeLists.txt
  add_pci_vf.xml
  cmake/he_qat-0.1.0/HE_QATConfig.cmake
  cmake/he_qat/he_qatConfig.cmake
  cmake/he_qat/heqat-util.cmake
  cmake/heqat-0.1.0/HEQATConfig.cmake
  cmake/ippcrypto.cmake
  common/CMakeLists.txt
  extract/qae_mem_hugepage_utils.o
  extract/qae_mem_utils.o
  he_qat/CMakeLists.txt
  icp/CMakeLists.txt
  misc/CMakeLists.txt
  perf_data/bs1bit1024.txt
  perf_data/bs1bit8192.txt
  perf_data/bs8bit1024.txt
  perf_data/bs8bit4096.txt
  perf_data/bs8bit8192.txt
  profiling/README.md
  samples/test_bnModExpBatch.cpp
  signit.txt
  start_qat_dev.sh
  stop_qat_dev.sh
  telemetry_helper.sh
Due: clang-format-10, shfmt, cpplint, shellcheck

Enable QAT static library building (#120)
  benchmark/CMakeLists.txt
  cmake/heqat/heqat.cmake
  cmake/ippcrypto.cmake
  ipcl/CMakeLists.txt
  test/CMakeLists.txt
Due: none

Minor updates - Fix shared library build flags, use IPCL_SHARED value instead of OFF (heqat.cmake) - Remove udev/z linking issue when not using QAT library
  cmake/heqat/heqat.cmake
  ipcl/CMakeLists.txt
Due: none

benchmark with same inputs (#119)
  benchmark/bench_cryptography.cpp
  benchmark/bench_ops.cpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

Handling throttling at runtime.
  he_qat/he_qat_bn_ops.c
  he_qat/he_qat_context.c
  samples/test_bnModExp.cpp
Due: clang-format-10, cpplint

WIP: multiple instances handled from a single thread.
  he_qat/he_qat_bn_ops.c
  he_qat/he_qat_context.c
  he_qat/include/he_qat_types.h
  setup_devices.sh
Due: clang-format-10, shfmt, cpplint, shellcheck

Path conditions:
  clang-format-10: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: docs/doxygen/
  shfmt: any of: \.sh$, but not: docs/doxygen/
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$ and not (ipcl/bignum.cpp|ipcl/include/ipcl/bignum.h) and not (docs/doxygen/)
  shellcheck: any of: \.sh$, but not: docs/doxygen/
