Repository intel/pailliercryptolib: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck

clang-format-10:
  name: clang-format-10
  entry: clang-format-10
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive
  - --filter=-runtime/references,-whitespace/comments,-whitespace/indent

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

Round-robin instance scheduling.
  he_qat/he_qat_bn_ops.c
  he_qat/include/he_qat_bn_ops.h
  samples/test_bnModExp.cpp
Due: clang-format-10, cpplint

Some code refactoring.
  he_qat/he_qat_bn_ops.c
  he_qat/he_qat_context.c
  samples/test_bnModExp.cpp
Due: clang-format-10, cpplint

Update CODEOWNERS
  CODEOWNERS
Due: none

Update CODEOWNERS (#1)
  CODEOWNERS
Due: none

Minor fix.
  cmake/heqat/heqat.cmake
Due: none

Minor tweak for robust performance.
  he_qat/he_qat_bn_ops.c
Due: clang-format-10, cpplint

Minor updates - Updated contributors - Added code of conduct
  CODE_OF_CONDUCT.md
  README.md
Due: none

Updated CI/CD
  .github/workflows/github-ci.yml
Due: none

Add RDSEED and RDRAND instruction check in compile time
  CMakeLists.txt
Due: none

Use RDSEED/RDRAND to produce random big number
  ipcl/CMakeLists.txt
  ipcl/common.cpp
  ipcl/include/ipcl/common.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/keygen.cpp
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

Update multithreaded sample (functional).
  samples/test_bnModExp_MT.cpp
Due: clang-format-10, cpplint

Remove unused variable.
  he_qat/he_qat_context.c
Due: clang-format-10, cpplint

Minor fix in callback.
  he_qat/he_qat_bn_ops.c
Due: clang-format-10, cpplint

Remove unused variables.
  samples/test_bnConversion.cpp
Due: clang-format-10, cpplint

Enable warnings for unused variables and functions.
  CMakeLists.txt
Due: none

Code clean up.
  add_pci_vf.xml
  cmake/he_qat-0.1.0/HE_QATConfig.cmake
  cmake/he_qat/he_qatConfig.cmake
  cmake/he_qat/heqat-util.cmake
  cmake/heqat-0.1.0/HEQATConfig.cmake
  cmake/ippcrypto.cmake
  extract/qae_mem_hugepage_utils.o
  extract/qae_mem_utils.o
  perf_data/bs1bit1024.txt
  perf_data/bs1bit8192.txt
  perf_data/bs8bit1024.txt
  perf_data/bs8bit4096.txt
  perf_data/bs8bit8192.txt
  profiling/README.md
  samples/test_bnModExpBatch.cpp
  signit.txt
  start_qat_dev.sh
  stop_qat_dev.sh
  telemetry_helper.sh
Due: clang-format-10, shfmt, cpplint, shellcheck

Minor fix.
  cmake/he_qat/heqat-util.cmake
Due: none

Revert "Minor fix."
  cmake/heqat/heqat.cmake
Due: none

Update HE QAT Lib version.
  cmake/heqat/heqat.cmake
Due: none

Minor updates (#4)
  .github/workflows/github-ci.yml
  CODE_OF_CONDUCT.md
  README.md
Due: none

Fix insecure prng (#3)
  CMakeLists.txt
  ipcl/CMakeLists.txt
  ipcl/common.cpp
  ipcl/include/ipcl/common.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/keygen.cpp
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

Added RNG support for non-RDRAND, non-RDSEED systems - Uses IPP-Crypto pseudo random number generator if none of those instructions are supported - Minor typo fixes
  README.md
  ipcl/common.cpp
Due: clang-format-10, cpplint

Add RNG support for non-RDRAND, non-RDSEED systems (#5)
  README.md
  ipcl/common.cpp
Due: clang-format-10, cpplint

ModExp function: remove padding & code clean
  ipcl/include/ipcl/mod_exp.hpp
  ipcl/mod_exp.cpp
Due: clang-format-10, cpplint

ModExp function: remove padding & code clean (#6)
  ipcl/include/ipcl/mod_exp.hpp
  ipcl/mod_exp.cpp
Due: clang-format-10, cpplint

Unittests & benchmark: Add app level test cases
  CMakeLists.txt
  benchmark/CMakeLists.txt
  benchmark/bench_cryptography_omp.cpp
  benchmark/bench_ops_omp.cpp
  test/CMakeLists.txt
  test/test_cryptography_omp.cpp
  test/test_ops_omp.cpp
Due: clang-format-10, cpplint

ippsModExp & unittests: corner case fix
  ipcl/mod_exp.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

ippsModExp & unittests: corner case fix (#7)
  ipcl/mod_exp.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

Removing seed setup and replacing rng function for PrimeGen_BN
  ipcl/common.cpp
  ipcl/include/ipcl/common.hpp
  ipcl/keygen.cpp
Due: clang-format-10, cpplint

Decouple callback functions, global variables and global constants.
  he_qat/CMakeLists.txt
  he_qat/he_qat_bn_ops.c
  he_qat/he_qat_cb.c
  he_qat/he_qat_gvars.c
  he_qat/include/he_qat_bn_ops.h
  he_qat/include/he_qat_gconst.h
  he_qat/include/he_qat_types.h
Due: clang-format-10, cpplint

Removing seed setup and replacing rng function for PrimeGen_BN (#8)
  ipcl/common.cpp
  ipcl/include/ipcl/common.hpp
  ipcl/keygen.cpp
Due: clang-format-10, cpplint

Remove global variables from separate source file.
  he_qat/CMakeLists.txt
  he_qat/he_qat_bn_ops.c
  he_qat/he_qat_cb.c
  he_qat/he_qat_context.c
  he_qat/he_qat_gvars.c
Due: clang-format-10, cpplint

Apply public repo changes to internal repo (#124)
  ipcl/include/ipcl/mod_exp.hpp
  ipcl/mod_exp.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format-10, cpplint

Add experimental decoupled control from interfaces.
  CMakeLists.txt
  he_qat/CMakeLists.txt
  he_qat/he_qat_ctrl.c
  he_qat/he_qat_ops.c
Due: clang-format-10, cpplint

Some comments clean-up.
  CMakeLists.txt
  icp/CMakeLists.txt
Due: none

Add documentation to callback functions.
  he_qat/he_qat_cb.c
Due: clang-format-10, cpplint

Partial documentation of he_qat_ctrl.c.
  he_qat/he_qat_ctrl.c
Due: clang-format-10, cpplint

Improve RNG security (#9)
  CMakeLists.txt
  ipcl/CMakeLists.txt
  ipcl/common.cpp
  ipcl/include/ipcl/common.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/keygen.cpp
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

- Refactor apply_obfuscator - minor typo fix
  ipcl/include/ipcl/pub_key.hpp
  ipcl/pub_key.cpp
Due: clang-format-10, cpplint

Path conditions:
  clang-format-10: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: docs/doxygen/
  shfmt: any of: \.sh$, but not: docs/doxygen/
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$ and not (ipcl/bignum.cpp|ipcl/include/ipcl/bignum.h) and not (docs/doxygen/)
  shellcheck: any of: \.sh$, but not: docs/doxygen/
