Repository intel/pailliercryptolib: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck

.pre-commit-config.yaml:

# Copyright (C) 2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

exclude: 'docs/doxygen/'
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: typos-v0.8.2
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          exclude: ipcl/bignum.cpp|ipcl/include/ipcl/bignum.h|example/test.cpp
          args:
            - --recursive
            - --filter=-runtime/references,-whitespace/comments,-whitespace/indent
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091

Updated pre-commit
  .pre-commit-config.yaml
Due: none

Refactor linking ippcrypto
  CMakeLists.txt
  cmake/ippcrypto.cmake
  ipcl/CMakeLists.txt
Due: none

Updated
  cmake/ippcrypto.cmake
  ipcl/CMakeLists.txt
Due: none

Add feature to use pre-installed IPP-Crypto
  cmake/ippcrypto.cmake
  ipcl/CMakeLists.txt
Due: none

Add ext_cereal dependency to avoid occasional compile error
  ipcl/CMakeLists.txt
Due: none

Detect preinstalled ippcrypto (#36)
  CMakeLists.txt
  cmake/ippcrypto.cmake
  ipcl/CMakeLists.txt
Due: none

Add initialization to avoid occasional error of retrieving values
  ipcl/include/ipcl/utils/parse_cpuinfo.hpp
  ipcl/include/ipcl/utils/util.hpp
  ipcl/utils/parse_cpuinfo.cpp
Due: clang-format, cpplint

Add initialization to avoid occasional error of retrieving values (#37)
  ipcl/include/ipcl/utils/parse_cpuinfo.hpp
  ipcl/include/ipcl/utils/util.hpp
  ipcl/utils/parse_cpuinfo.cpp
Due: clang-format, cpplint

Replace IPCL_IPPCRYPTO_PATH with CMAKE_PREFIX_PATH - Looks for installed IPP-Crypto on system with default locations at ${HOME}/intel and /opt/intel/ipp-crypto
  CMakeLists.txt
  cmake/ippcrypto.cmake
Due: none

Replace /opt/intel/ipp-crypto with /opt/intel
  CMakeLists.txt
Due: none

Replace IPCL_IPPCRYPTO_PATH with CMAKE_PREFIX_PATH (#39)
  CMakeLists.txt
  cmake/ippcrypto.cmake
Due: none

Remove debug message
  CMakeLists.txt
Due: none

pk, sk, ct: Refactor pk & sk with shared_ptr.
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/pri_key.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
Due: clang-format, cpplint

keypair: refactor KeyPair structure
  ipcl/include/ipcl/ipcl.hpp
  ipcl/include/ipcl/keygen.hpp
  ipcl/keygen.cpp
Due: clang-format, cpplint

unittest, benchmark: Updated with smart ptr version pk, sk and keypair
  benchmark/bench_cryptography.cpp
  benchmark/bench_hybrid.cpp
  benchmark/bench_ops.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format, cpplint

example: Updated with smart ptr version pk, sk and keypair
  example/example_add_mul.cpp
  example/example_encrypt_decrypt.cpp
  example/example_hybridmode.cpp
Due: clang-format, cpplint

sk: Change pk parameter type in ctor. ct: Change pk parameter type in ctor and m_pk type. pk, unittest, benchmark: Updated with new sk & ct structure.
  benchmark/bench_cryptography.cpp
  benchmark/bench_hybrid.cpp
  benchmark/bench_ops.cpp
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/ciphertext.hpp
  ipcl/include/ipcl/pri_key.hpp
  ipcl/keygen.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format, cpplint

Updated cmake changes to branch
  CMakeLists.txt
  cmake/ippcrypto.cmake
  ipcl/include/ipcl/keygen.hpp
Due: clang-format, cpplint

Add GNU version check for "deprecated-copy" flag - address #40
  CMakeLists.txt
Due: none

Hotfix: Add gcc version check for "-Wno-deprecated-copy" flag (gnu>=9.1.0)
  CMakeLists.txt
Due: none

Hotfix: Add gcc version check for "-Wno-deprecated-copy" flag (gnu>=9.1.0) (#42)
  CMakeLists.txt
Due: none

Add private key consutrctor ipcl::PrivateKey(n,p,q)
  ipcl/include/ipcl/pri_key.hpp
  ipcl/pri_key.cpp
Due: clang-format, cpplint

Expose create function to public
  ipcl/include/ipcl/pub_key.hpp
Due: clang-format, cpplint

Updated example/README markdown to reflect changes to ipcl::KeyPair and its members.
  example/README.md
Due: none

Example typo fix
  example/example_add_mul.cpp
Due: clang-format, cpplint

Refactor pub priv key with smark pointers (#38)
  benchmark/bench_cryptography.cpp
  benchmark/bench_hybrid.cpp
  benchmark/bench_ops.cpp
  example/README.md
  example/example_add_mul.cpp
  example/example_encrypt_decrypt.cpp
  example/example_hybridmode.cpp
  ipcl/ciphertext.cpp
  ipcl/include/ipcl/bignum.h
  ipcl/include/ipcl/ciphertext.hpp
  ipcl/include/ipcl/ipcl.hpp
  ipcl/include/ipcl/keygen.hpp
  ipcl/include/ipcl/pri_key.hpp
  ipcl/include/ipcl/pub_key.hpp
  ipcl/include/ipcl/utils/serialize.hpp
  ipcl/keygen.cpp
  ipcl/pri_key.cpp
  ipcl/pub_key.cpp
  test/test_cryptography.cpp
  test/test_ops.cpp
Due: clang-format, cpplint

Fix QAT Phys Dev Detection.
  cmake/ipcl/ipcl-util.cmake
Due: none

Reverted ippcrypto.cmake and pre-commit changes to recent version
  .pre-commit-config.yaml
  cmake/ipcl/ipcl-util.cmake
  cmake/ippcrypto.cmake
Due: none

Support serialize/deserialize negative big numbers
  ipcl/include/ipcl/bignum.h
Due: clang-format

fix segmentation fault issue when serializing and deserializing a public key
  ipcl/include/ipcl/pub_key.hpp
Due: clang-format, cpplint

Support serialize/deserialize negative big numbers (#45)
  ipcl/include/ipcl/bignum.h
Due: clang-format

Hot Fix for QAT Detection (#43)
  cmake/ipcl/ipcl-util.cmake
Due: none

CMakeLists.txt: include external dependency fist before build ipcl
  CMakeLists.txt
Due: none

CMakeLists.txt: include external dependency fist before build ipcl (#48)
  CMakeLists.txt
Due: none

Change github action runner
  .github/workflows/github-ci.yml
Due: none

Change github action runner (#49)
  .github/workflows/github-ci.yml
Due: none

Fix mismatched new/delete error
  ipcl/bignum.cpp
Due: clang-format

Fix a format issue
  ipcl/bignum.cpp
Due: clang-format
