Repository intel/pailliercryptolib: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, cpplint-c, shellcheck

.pre-commit-config.yaml:

# Copyright (C) 2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

exclude: 'docs/doxygen/'
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
        - id: trailing-whitespace
          exclude: cmake/patch/ippcrypto_patch.patch
        - id: end-of-file-fixer
          exclude: cmake/patch/ippcrypto_patch.patch
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: typos-v0.8.2
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(cxx|cpp|hpp|hxx)$
          exclude: ipcl/bignum.cpp|example/test.cpp
          args:
            - --recursive
            - --filter=-runtime/references,-whitespace/comments,-whitespace/indent
        - id: cpplint-c
          name: cpplint-c
          entry: cpplint
          language: system
          files: \.(c|cc|h)$
          exclude: ipcl/include/ipcl/bignum.h
          args:
            - --recursive
            - --filter=-runtime/references,-whitespace/comments,-whitespace/indent,-readability/casting,-runtime/int,-runtime/printf
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091

Fix mismatched new/delete error (#50)
  ipcl/bignum.cpp
Due: clang-format

README TEST
  README.md
Due: none

pub_key.hpp: Fix serialization/deserialization seg fault issue
  ipcl/include/ipcl/pub_key.hpp
Due: clang-format, cpplint

pub_key.hpp: Fix serialization/deserialization seg fault issue (#52)
  ipcl/include/ipcl/pub_key.hpp
Due: clang-format, cpplint

keygen: Setting seed value when using ippsPRNGen.
  ipcl/keygen.cpp
Due: clang-format, cpplint

common: Need initialization before using ippsPRNGen_BN.
  ipcl/utils/common.cpp
Due: clang-format, cpplint

Fix pseudo random number generator issue (#54)
  ipcl/keygen.cpp
  ipcl/utils/common.cpp
Due: clang-format, cpplint

util, common, keygen: Refactor RNG selection part.
  ipcl/include/ipcl/utils/util.hpp
  ipcl/keygen.cpp
  ipcl/utils/common.cpp
Due: clang-format, cpplint

Refactor runtime and compile time RNG selection part. (#55)
  ipcl/include/ipcl/utils/util.hpp
  ipcl/keygen.cpp
  ipcl/utils/common.cpp
Due: clang-format, cpplint

keygen: Move rand32u to util/common
  ipcl/keygen.cpp
Due: clang-format, cpplint

common: Fix random number value always a fixed value
  ipcl/include/ipcl/utils/common.hpp
  ipcl/utils/common.cpp
Due: clang-format, cpplint

Fix prng always produce a fixed value issue (#56)
  ipcl/include/ipcl/utils/common.hpp
  ipcl/keygen.cpp
  ipcl/utils/common.cpp
Due: clang-format, cpplint

Fix qat seg fault when app level has multi thread
  ipcl/include/ipcl/utils/util.hpp
  ipcl/mod_exp.cpp
  test/CMakeLists.txt
  test/test_cryptography.cpp
Due: clang-format, cpplint

Use RDRAND if RDSEED failed
  ipcl/include/ipcl/utils/util.hpp
  ipcl/utils/common.cpp
  test/test_cryptography.cpp
Due: clang-format, cpplint

Fix rdseed error when multi thread use it at the same time
  ipcl/include/ipcl/utils/common.hpp
  ipcl/utils/common.cpp
Due: clang-format, cpplint

Fix rdseed error when multi thread use it at the same time (#59)
  ipcl/include/ipcl/utils/common.hpp
  ipcl/utils/common.cpp
Due: clang-format, cpplint

bignum: num2hex: Delete the first space when it is a positive number
  ipcl/bignum.cpp
Due: clang-format

bignum: num2hex: Delete the first space when it is a positive number (#62)
  ipcl/bignum.cpp
Due: clang-format

Add pk serialization test and fix the std::bad_alloc issue
  ipcl/include/ipcl/pub_key.hpp
  ipcl/pub_key.cpp
  test/CMakeLists.txt
  test/test_serialization.cpp
Due: clang-format, cpplint

Add pk serialization test and fix the std::bad_alloc issue (#66)
  ipcl/include/ipcl/pub_key.hpp
  ipcl/pub_key.cpp
  test/CMakeLists.txt
  test/test_serialization.cpp
Due: clang-format, cpplint

cmake: Fix dependency issues.
  CMakeLists.txt
  ipcl/CMakeLists.txt
  test/CMakeLists.txt
Due: none

cmake: Fix ippcrypto dependency issues. (#67)
  CMakeLists.txt
  ipcl/CMakeLists.txt
  test/CMakeLists.txt
Due: none

mod_exp: Add heQatBnModExp_MT function for multi thread usecase
  ipcl/mod_exp.cpp
Due: clang-format, cpplint

unittest: Add app level multi thread testcase
  test/CMakeLists.txt
  test/test_cryptography.cpp
Due: clang-format, cpplint

mod_exp: Add heQatBnModExp_MT for app level multi thread use case (#61)
  ipcl/mod_exp.cpp
  test/CMakeLists.txt
  test/test_cryptography.cpp
Due: clang-format, cpplint

unittest: Fix misleading logs.
  test/main.cpp
Due: clang-format, cpplint

unittest: Fix misleading logs. (#68)
  test/main.cpp
Due: clang-format, cpplint

pk: Fix multi thread encrypt issue(about not thread safe function ippsMod_BN)
  ipcl/pub_key.cpp
Due: clang-format, cpplint

cmake: check ippcp existence before add dependency to ipcl
  ipcl/CMakeLists.txt
Due: none

ci: Using pre installed oneapi/ippcp
  .github/workflows/github-ci.yml
Due: none

Fix multi thread encrypt issue(about not thread safe function ippsMod_BN) (#72)
  .github/workflows/github-ci.yml
  ipcl/CMakeLists.txt
  ipcl/pub_key.cpp
Due: clang-format, cpplint

keygen: getPrimeBN: Replace the function of setting seed from rand32u to getRandomBN
  ipcl/keygen.cpp
Due: clang-format, cpplint

Add support for PT CT serialization (#75)
  ipcl/include/ipcl/base_text.hpp
  ipcl/include/ipcl/ciphertext.hpp
  ipcl/include/ipcl/plaintext.hpp
  ipcl/include/ipcl/utils/serialize.hpp
  test/test_serialization.cpp
Due: clang-format, cpplint

pt, ct, base_text: Add support for serialization and deserialization
  ipcl/include/ipcl/base_text.hpp
  ipcl/include/ipcl/ciphertext.hpp
  ipcl/include/ipcl/plaintext.hpp
Due: clang-format, cpplint

unit test: Add serialization test for pt and ct.
  test/test_serialization.cpp
Due: clang-format, cpplint

utils:serialize: Fix serializeToFile and deserializeFromFile functions.
  ipcl/include/ipcl/utils/serialize.hpp
Due: clang-format, cpplint

support PrivateKey serialization and add unitest for it
  ipcl/include/ipcl/pri_key.hpp
  ipcl/pri_key.cpp
  test/test_serialization.cpp
Due: clang-format, cpplint

Using ippcp version which exactly equals to 11.4 (ippcp_2021.6)
  cmake/ippcrypto.cmake
Due: none

ci: Remove oneAPI env setting.
  .github/workflows/github-ci.yml
Due: none
